<a href="https://colab.research.google.com/github/NHCh1/DLI/blob/main/DLI_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/NHCh1/DLI/refs/heads/main/Dli-mendeley_18.csv'
data = pd.read_csv(url, header=None)
data

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,3,1,5,72,0,0,0,0,0,0,...,0,0,1,1,0,1,1,-1,1,1
1,3,1,3,144,0,0,0,0,2,0,...,0,0,0,1,-1,1,1,1,1,1
2,3,1,2,58,0,0,0,0,0,0,...,0,0,0,1,0,-1,1,-1,0,1
3,3,1,6,79,1,0,0,0,0,0,...,0,0,0,1,-1,1,1,1,-1,1
4,3,0,4,46,0,0,0,0,0,0,...,1,0,0,1,1,-1,0,-1,-1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,3,1,1,50,0,0,0,0,0,0,...,0,0,0,1,1,-1,1,0,1,0
9996,2,1,4,59,1,0,0,0,0,0,...,1,0,0,1,0,0,1,0,1,0
9997,2,1,4,57,0,0,0,0,0,0,...,0,0,0,1,0,1,1,0,1,0
9998,3,1,1,49,0,0,0,0,0,0,...,1,0,0,1,1,0,1,0,1,0
9999,3,1,2,52,3,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,0

In [ ]:
#Array of features
x = data.drop([48], axis=1)
print(x)

#Array of terget
y = data[48]
print(y)

      0   1   2    3   4   5   6   7   8   9   ...  38  39  40  41  42  43  \
0      3   1   5   72   0   0   0   0   0   0  ...   0   0   0   1   1   0
1      3   1   3  144   0   0   0   0   2   0  ...   0   0   0   0   1  -1
2      3   1   2   58   0   0   0   0   0   0  ...   0   0   0   0   1   0
3      3   1   6   79   1   0   0   0   0   0  ...   1   0   0   0   1  -1
4      3   0   4   46   0   0   0   0   0   0  ...   0   1   0   0   1   1
...   ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..
9995   3   1   1   50   0   0   0   0   0   0  ...   0   0   0   0   1   1
9996   2   1   4   59   1   0   0   0   0   0  ...   0   1   0   0   1   0
9997   2   1   4   57   0   0   0   0   0   0  ...   0   0   0   0   1   0
9998   3   1   1   49   0   0   0   0   0   0  ...   0   1   0   0   1   1
9999   3   1   2   52   3   0   0   0   0   0  ...   0   0   0   0   1   1

      44  45  46  47
0      1   1  -1   1
1      1   1   1   1
2     -1   1  -1   0
3      1   1   1  -1
4     -1   0  -1  -1
...   ..  ..  ..  ..
9995  -1   1   0   1
9996   0   1   0   1
9997   1   1   0   1
9998   0   1   0   1
9999   1   1   1   1

[10000 rows x 48 columns]
0       1
1       1
2       1
3       1
4       1
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: 48, Length: 10000, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)